//- index.puganon
doctype html
html
  include includes/head.pug
  body
    //- h1 My Site
    //- p Welcome to my super lame site.
    //- button(type='button' class='btn btn-primary') Deneme
    include includes/footer.pug
    include includes/scripts.pug