section#content
  div.features.p-5
    p Ad officia sunt anim aliqua aliqua aliquip.
  div.about.p-5
    p Qui quis ut dolore nisi duis sint Lorem adipisicing aliqua do incididunt aliqua.
  div.example
    - var friends = 10
    case friends
      when 0
        p you have no friends
      when 1
        p you have a friend
      default
        p you have #{friends} friends
  