head
  title My First Site
  meta(http-equiv="X-UA-Compatible", content="width=device-width, initial-scale=1, shrink-to-fit=no", name="viewport", charset="utf-8")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css")